<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success mb-2">New Recipe</button>
  </div>
</div>
  <div class="row">
    <div class="col-xs-12">
      <div class="card justify-content-between flex-wrap flex-row p-1 m-2" style="width: 15rem;" *ngFor="let recipe of recipes">
        <h4 class="card-title order-1">{{ recipe.name }}</h4>
        <p class="card-text order-3">{{ recipe.description }}</p>
        <img class="card-img order-2 m-1" [src]="recipe.imagePath" alt="recipe picture" style="max-width: 50px; max-height: 50px;">
      </div>
    </div>
  </div>
<!--<app-recipe-item></app-recipe-item>-->
